a.button-collapse.top-nav i {
    font-size: 32px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.card {
    margin-top: 50px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

nav {
    background-color: orange !important;
}

.mdi-nav-menu {
    content: "\e8af";
}

nav .button-collapse i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    display: block;
    font-size: 2rem;
    height: 56px;
}

[class^="mdi-"]:before,
[class*="mdi-"]:before {
    display: inline-block;
    speak: none;
    text-decoration: inherit;
}

[class^="mdi-"],
[class*="mdi-"] {
    speak: none;
    font-family: "Material-Design-Icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}