/* Classes objets persos */

.name {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.description {
    margin-left: 20px;
}

.period {
    font-family: "bttf";
}

a {
    text-decoration: none;
    color: white;
}

.content {
    position: absolute;
    top: 25%;
    left: 45%;
    margin-bottom: 250px;
    margin-left: -200px;
}

.card {
    margin-top: 50px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

nav {
    background-color: orange !important;
}

nav .button-collapse i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px;
}

.onCenter {
    float: right;
    margin-right: 45%;
    font-weight: bold;
    font-size: 27px;
    color: black;
}

.titleMenu {
    margin-left: 15px;
    font-size: 18px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    width: 100%;
    padding-top: 20 !important;
    background-color: orange !important;
}

.footer-copyright {
    padding-left: 15px !important;
    background-color: darkorange !important;
}