main {
    margin-top: -75px;
}

.grid {
    width: 100%;
    height: 100%;
}

.one-one {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100px;
    background-color: #29487d;
}

.one-two {
    display: inline-block;
    float: right;
    width: 50%;
    height: 100px;
    background-color: #0077B5;
}

.two-one {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100px;
    background-color: #db4437;
}

.two-two {
    display: inline-block;
    float: right;
    width: 50%;
    height: 100px;
    background-color: #1DA1F2;
}

.customCenter {
    vertical-align: middle;
}

.parent {
    text-align: center;
}

.parent:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.containerParentValentin {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 75px;
}

.containerParentNicolas {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 75px;
}

.containerParentNicolas div {
    display: table-cell;
}

.containerParentValentin div {
    display: table-cell;
}

.box1 {
    background-color: #8a398a;
}

.box2 {
    background-color: #5050f5;
}

.box3 {
    background-color: #cd2e2e;
}

.customCardView {
    overflow: auto;
    overflow-y: hidden;
    margin: 0;
    background-color: white !important;
}

.customIcon {
    color: white;
    margin-left: 43%;
}

.customPhone {
    font-size: 3em;
}

.avatarHome {
    /*width: 100px !important;
    height: 100px !important;*/
    width: 50px !important;
    height: 50px !important;
}

.fullWidth {
    width: 100%;
    margin-top: 100px;
    margin-left: 50px;
}

.spacingCard {
    margin-right: 50px;
}

.telephone {
    font-size: 15px !important;
}

.moreInformation {
    left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 0;
}

.grid {
    height: 0;
}

@media screen and (max-width: 450px) {
    .row .col.s6 {
        width: 100%;
    }
    .moreInformation {
        left: 20%;
        z-index: 0;
    }
    .customIcon {
        margin-left: 36% !important;
        margin-top: 22% !important;
    }
    .spanPhone {
        margin-left: 9% !important;
        font-size: 20px !important;
    }
    .avatarHome {
        width: 65px !important;
        height: 65px !important;
    }
    .city {
        margin-left: 23% !important;
    }
    .iconPhone {
        font-size: 15px !important;
    }
    .address {
        margin-left: 10% !important;
    }
    .telephone {
        font-size: 15px !important;
    }
    .infoVal {
        margin-top: 0;
        width: 69%;
    }
}