.timeline {
    position: relative;
}

.timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
}

.timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 26px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
}

.timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 35px);
}

.timeline .timeline-event:first-child::before {
    display: none;
}

.timeline .timeline-event:last-child::after {
    display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px) !important;
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0 !important;
}

.timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #d2d2d2;
    top: calc(50% - 20px);
    right: calc(50% - 25px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
    font-size: 13px;
}

.timeline .timeline-badge i {
    font-size: 18px;
    line-height: 40px;
}

span.timelineDate {
    position: relative;
    top: 6px;
}

@media (max-width: 450px) {
    .timeline .timeline-event .timeline-content {
        width: 85% !important;
        height: calc(50% - 10px) !important;
    }
    .timeline .timeline-badge {
        left: 0 !important;
        margin-right: 15px !important;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 60px !important;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 60px !important;
    }
    .timeline .timeline-event::before {
        left: 24px !important;
    }
    .timeline .timeline-event::after {
        left: 24px !important;
    }
    span.customCardTitle {
        font-size: 18px !important;
    }
}

@media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
        width: 75%;
    }
    .timeline .timeline-event::before {
        left: 19px;
    }
    .timeline .timeline-event::after {
        left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-badge {
        left: 0;
    }
    img .activator {
        width: 100px !important;
        height: 75px !important;
    }
    span .customCardTitle {
        font-size: 20px !important;
    }
}